{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}game state{% endblock %}</h1>
{% endblock %}

{% block content %}
    <h3>owl: {{ owl['nom'] }}</h2>
    <div>
        <span>day: {{ day }}</span> *** <span>mice: {{ mice }}</span>
    </div>
    <div>
        <span>life: {{ owl['life'] }}</span>  
        ***  <a href="{{ url_for('owls.sleep') }}">sleep</a>
        ***  <a href="{{ url_for('owls.hunt') }}">hunt</a>
        ***  <a href="{{ url_for('owls.eat') }}">eat</a>
    </div>
{% endblock %}